*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
/* css global variables  */
:root{
--colour_pink: pink;
--colour_light_grey: lightgrey;
--colour_grey: grey;
--justifyContent_spaceBetween: space-between;
--justifyContent_spaceEvenly: space-evenly;
}



/* =================================================================================css classes========================================================================== */
.container{
    padding: 0 3rem;
    max-width: 1440px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderBottom{
    /* min-width: 100%; */
    border-bottom: 1px solid grey;
}
.borderBot{
    border-bottom: 1px solid lightgrey;
}
.jusContSE{
    justify-content: space-evenly;
}

.jusContSB{
    justify-content: space-between;
}

.wrapper{
    flex-wrap: wrap;
}
.border{
    border:1px solid black
}




.code{
    max-width: 1400vw;
}
hr{
    color: lightgrey; 
    margin-bottom: 1.3rem;
}
/* =============================================================================top most part ================================================================*/

.part1{
    border-bottom: 1px solid var(--colour_grey);
    
}
.top_header{
    /* padding: 0 2rem; */
    /* border: 2px solid black; */
    justify-content: var(--justifyContent_spaceBetween);
}
/* .social_icons{
    margin-left: 5%;} */

.social_icons .fa{
    /* color: var(--colour_grey); */
   margin: 8px 4px;
}

.center_tit{
    color: var(--colour_grey);
    font-size: 1em;
}
.dropDown_box{
    /* margin-right: 5%; */
}
.dropDown_box select{
border: none;
font-size: medium;
color: var(--colour_grey);
}
.hidden_tab{
    display: none;
}


/*===========================================================================aircommerce header starts here ===================================================*/
.second_header{
   padding: 1%;
}

.title{
    color: var(--colour_pink);
    font-size: 2em;
}
.search_bar input{
    border: none;
    padding: 10px;
}
.search_bar{
    border: 2px solid grey;
    width: 40%;
    border-radius: 5px;
    padding: 0 1%;

}
.second_header_icons .fa{
   margin: 10px;
    font-size: 1.2em;
    color: var(--colour_grey);
}

/*============================================================ navigation bar============================================================= */
.navBar ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1.4rem 6rem;
    
    }
    .navBar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(44, 43, 43);
    }


main{
    max-width: 100%;
    margin: 0 auto;
}
    
    /* ===============================================================banner==================================================================== */
.banner{
    background-image: url(images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1% 4%;
    /* padding: 0 10% 0 20% ; */
    
}
.banner_content{
    padding: 5% 10%;
    width: 50%;

}
.banner_content h1{
    font-size: 2.2rem;
    color: black;
    font-weight: 795;
}
.banner_price{
    font-size: 1.3rem;
    /* color: var(--colour_grey); */
}
.banner_price b{
    font-size: 1.9rem;
}
.banner_content #trend{
    color:var(--colour_pink);
    font-size: 1.7rem;
}
.banner button{
    border: none;
    background-color: var(--colour_pink);
    font-weight: bold;
    padding: 2% 3%;
    color: white;
    margin: 3% 0;
    border-radius: 0.5rem;
}
.banner button:hover{
    cursor: grabbing;
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 6px 6px 40px 10px #ffafcc;
}


/* ====================================================================================body starts===================================================== */
.body_scroll_bar{
    max-width: 100%;
    /* margin: 2% 5.5%; */
 /* justify-content: space-evenly; */
}
.side_no{
    font-size:0.7em; color: grey;
}
.scroll_show{
    color: pink;
}
.scroll_bar_box{
    margin: 1rem 0;
    border: 1px solid lightgrey;
    min-width: 14.5%;
    border-radius: 0.5rem;
   padding: 0.5rem;
   justify-content: start;
   gap: 1rem;
   /* align-items: stretch; */
}
.scroll_bar_icon{
    border:2px solid rgb(182, 164, 164) ;
    background-color: lightgrey;
    border-radius: 0.5rem;
}
.scroll_bar_icon img{
   width: 50px;
   padding: 0.5rem;
}

.scroll_bar_title{
    gap: 2.5rem;
}
#tit{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.scroll_bar_content{
    flex-direction: column;
    gap: 0.5rem;
    /* justify-content: space-around; */
    height: 100%;
}

/* ==============================================================left side bar===================================================================== */
#left_side_head{
     margin: 2% 0%;
    font-size: 1rem;
    font-weight: 800;
    color: black;
    margin-left: 7%;
}
.leftSideBarItem img{
    height: 3rem; width: 3rem;
}
.left_side_navigation_bar{
margin-bottom: 2rem;
    /* width: 1rem; */
    /* justify-content: space-evenly;     */
}
aside{
    /* margin-left: 2%; */
    margin-bottom: 1%;
    max-width: 25%;
    min-width: 25%;
}
.category_container{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.left_side_bar{
    align-self:flex-start;
    position: sticky;
    top: 0;
    width:20% ;
}
.leftSideBarItem{
    justify-content: start;
    padding: 0.5rem;
    margin: 0.5rem;
}
.leftSideBarItem img{
    width: 2rem;
    height: 2rem;
    
}
.item1{
    justify-content: space-between;
    width: 80%;
    color: black;
    font-weight: bold;
    margin-left: 4%;
}
.best_text .fa{
    font-size: 1rem;
    color: gold;
}
.best_tit{
color:black
}
.best_text .strike_amount{
text-decoration: line-through;
color: var(--colour_light_grey);
}
.best_text .amount{
    font-weight: bold;
    color: var(--colour_grey);
}
.left_best_item{
    /* width: 100%; */
    justify-content: start;
}


/* ===========================================================================right part of body =============================================================== */
.right_part{
    /* width: 100%; */
    gap: 0;
}
.catalogue1{
    width: 100%;
}
.catalogue1 h1{
color: black;
}
.catalogue1 p{
    color: black;
}
.arrival img{
    width:3rem;
    height:3rem;
}
.arri_cost{
  color: pink;
}
.arrival_item{
    width: 13.2rem;
    height: 5rem;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}
.arrival_item:hover{
    cursor: grabbing;
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 6px 6px 40px 10px #ffafcc;
}
.arrival_item span{
    text-decoration: line-through;
}


/* =================================================Deal of the day===================================================================== */

.deal_of_day h3{
font-size: 1.5rem;
color: black;
}
.shampoo_details img{
    max-width: 35%;
}
.shampoo_details{
    line-height: 2rem;
    color: black;
    margin: 0 auto;
    align-items: center;
    border: 1px solid var(--colour_light_grey);
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 3rem;
}
.shampoo_description{
    color: lightgrey; line-height: 1rem;
}
.shampoo_text .fa{
    color: gold;
}
button{
    background-color: var(--colour_pink);
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font-weight: bold;
}
.availiabilty{
    align-self: flex-start;
}
.progress_bar {
    width: 90%;
    padding: 0.3rem;
    background-color: var(--colour_grey);
    border-radius: 5rem;
  }
  
  .progress_bar span {
    display: block;
    width: 40%;
    background-color: var(--colour_pink);
    height: 0.5rem;
    border-radius: 5rem;
  }
  .count_down{
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .days{
    padding:0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--colour_light_grey);
  }

  /* new product catalogue */
  .catalogue2{
    /* gap: 0.7rem; */
  }
  .catalogue2_item{
    padding: 0.5rem;
    flex-direction: column;
    border: 1px solid var(--colour_grey);
    border-radius: 7px;
    max-width: 12rem;
    min-width: 10rem;
    color: black;
    margin-bottom: 1rem;

  }
  .catalogue2_item:hover{
    cursor: grabbing;
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 6px 6px 40px 10px #ffafcc;
  }
  .new_product{
    color: black;
    font-size: 1.5rem;
  }
  .catalogue2_item img{
    max-width: 11rem;
  }
  .item_title{
    color: var(--colour_pink);
    font-size: 1.5em;
  }
  #item_name{
    color: var(--colour_grey);
  }
  .item_cost span{
color: var(--colour_grey);
text-decoration: line-through;
  }
  .catalogue2_item .fa{
    color: gold;
  }



/* testimonial part */
.fcontainer{
    margin-bottom: 2rem;
    gap: 1rem;
}
.testimonial{
    flex-shrink: 0;
}
.testimonial h3{ color: black;}
.alan{
    border: 1px solid var(--colour_light_grey);
    border-radius: 5.5px;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: grey;
}
.alan_dp{
    border-radius: 55%;
    width: 50%;
}
.alan h4{
font-weight: 750;
}
.quotes{
    width: 15%;
}
#tag{
    font-weight: 600;
}

.summerCollection{
    background-image: url(images/cta-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* flex-grow: 2; */
    width: 55%;
    height: 21rem;
    border-radius: 1rem;
    color: black;
}
.summer_collection_text{
    background-color: beige;
    opacity: 0.7;
    padding: 2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}
.summer_collection_text span{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.our_services_icons .fa{
    color: var(--colour_pink);
    font-size: large;

}
.our_services_icons{
    color: black;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    gap:1rem;
}
.world{
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius:0.5rem ;

}




/* last part */
.part1Container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }
   .part1Item{
    margin-bottom: 2rem;
   }
.part1Content{
    /* border: 2px solid black; */
     max-width: 15rem;
}
.part1Content h4{
    color: black;
}
.part1Content img{
    border-radius: 5%;
    max-width: 100%;
}
.part1Content h5{
    color: pink;
} 
.part1Content p{
    color: grey;
}


/* footer */
footer{
    max-width: 100%;
    /* padding: 2rem 10rem; */
    background-color: black;
    color: grey;
}
.foot{
    padding: 1.5rem 0;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
}
.list1 h3{
    color: white;
}

footer h3{
    color: #ffadad;
    padding-bottom: 1rem;
}
.sec1{
    line-height: 2rem;
}
.foot2{
    padding: 1.5rem 0;
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
    line-height: 2rem;
}
.foot3{
    text-align: center;
}




/* media query for tablet */

@media screen and (max-width: 821px) {
    .social_icons{
        display: none;
    }
    .second_header_icons{
        display: none;
    }
    .hidden_tab{
        display: flex;
        width: 50%;
        position: fixed;
        padding: 0.5rem;
        background-color: var(--colour_pink);
        justify-content: space-evenly;
        border: 1px solid grey;
        bottom: 0;
        left: 25%;
    }
    .navBar{
        display: none;
    }
    .banner{
        width: 100%;
        margin: 2% 3%;
        background-size: contain;
    }
    .banner_content{
        width: 70%;
    }
    .left_side_bar{
        display: none;
    }
    
}




/* media query for phone */

@media screen and (max-width: 600px) {
    .dropDown_box{
        display: none;
    }
    .search_bar{
        width: 90%;
    }
    .banner{
        margin: 2% 0%;
    }
    .banner_content{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .banner .banner_content h1{
        font-size: 1rem;
    }
    .banner .banner_price{
        font-size: 1rem;
    }
    .banner .banner_price b{
        font-size: 1rem;
    }
    .banner .banner_content #trend{
       font-size: 1rem;
    }
    .shampoo_details{
        flex-direction: column;
        padding: 1rem;
    }
    .shampoo_details img{
        min-width: 50%;
    }
    
}
